{# HTML5 declaration #}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Lokum {% endblock title %} | Breakfast & grill </title>
    {% block head_favicon %}
        <link rel="shortcut icon" type="image/png"
              href="{% static 'images/logo32.png' %}">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <!-- <meta http-equiv="Content-Type"
                   content="text/html; charset=utf-8"/> -->
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="uk"/>
        {% endblock head_meta_contentlanguage %}
        {# % block head_meta_viewport % #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="turkish caffe, турецкое кафе, турецкая кухня, Турция, Turkish">
        <meta name="description" content="The little part of Turkish in Dnipro. Our turkish cafe is the best">
        <meta name="author" content="">
        {#% endblock head_meta_viewport % #}
    {% endblock head_meta %}


    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static  'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="{% static  'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!--[if lt IE 9]>
    <script type="application/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="application/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>

</head>

<body>
{# Navigation Menu #}
<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url "caffemain:index" %}">
                <img src="{% static 'images/logo128.png' %}" alt="LOKUM Breakfest & grill"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">{% trans 'Home' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "shop:product_list" %}">{% trans 'Menu' %}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url "caffemain:about" %}">{% trans 'About' %}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url "caffemain:contact" %}">{% trans 'Contact' %}</a></li>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        <li class="nav-item {% if language.code == LANGUAGE_CODE %} active
                                            {% endif %}">
                             <a class="nav-link {% if language.code == LANGUAGE_CODE %} active
                                            {% endif %}"
                                  href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                        >
                            <img width="32px" src="{% static 'images/' %}{{ language.code }}-flag.png"/>
                        </a>

                        </li>
                    {% endfor %}

                    </li>

                    <li class="nav-item cart">
                        <!-- <div class="nav-item cart"> -->

                        {% with total_items=cart|length %}
                            {% if total_items > 0 %}
                                {% trans "Your cart" %}:
                                <a class="nav-link" href="{% url "cart:cart_detail" %}">
                                    {% blocktrans with total=cart.get_total_price count items=total_items %}
                                        {{ items }} item, {{ total }} UAH
                                    {% plural %}
                                        {{ items }} items, {{ total }} UAH
                                    {% endblocktrans %}
                                </a>
                            {% else %}
                                {% trans "Your cart is empty." %}
                            {% endif %}
                        {% endwith %}

                    </li>


            </div>

    </nav>

</header>

<!-- End header -->

{% block content %}
    if you see this, something is wrong!
{% endblock content %}

<!-- Start Contact info -->
<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>{% trans 'Phone' %}</h4>
                    <p class="lead">
                        +380 93 349 09 29
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>{% trans 'Email' %}</h4>
                    <p class="lead">
                        info@lokum.dp.ua
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>{% trans 'Location' %}</h4>
                    <p class="lead">
                        49000, Glinki 18, Dnipro
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->

<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>{% trans 'About' %}</h3>
                <p>{% blocktrans %}
                    A Turkish restaurant-cafe in the city center is the perfect place for people who love all kinds
                     kebabs, doners, a hearty and tasty meal, they appreciate a high level of service and want to feel
                     like at home.
                     Turkish Restaurant - Cafe Lokum uses exclusively halal
                     ingredients brought directly from Turkey
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{% trans 'Opening hours' %}</h3>
                <p><span class="text-color">Monday: </span>8:Am - 10:PM</p>
                <p><span class="text-color">Tue-Wed :</span> 8:Am - 10PM</p>
                <p><span class="text-color">Thu-Fri :</span> 8:Am - 10PM</p>
                <p><span class="text-color">Sat-Sun :</span> 8:PM - 10PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{% trans 'Contact information' %}</h3>
                <p class="lead">Glinki, 18, Dnipro, 49000</p>
                <p class="lead"><a href="tel:+380933490929">+380 93 349 09 29</a></p>
                <p><a href="#"> info@admin.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{% trans 'Subscribe' %}</h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..."
                               type="email">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Lokum Grill & Breakfest</a>
                        Design By :
                        <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script type="application/javascript" src="{% static 'js/jquery.superslides.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/images-loded.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/isotope.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/baguetteBox.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/form-validator.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/contact-form-script.js' %}"></script>
<script type="application/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>