{% extends "main-layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{% trans 'Checkout' %}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->
    <div class="blog-box">
    <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4 order-info">
    <h3>{% trans "Your order" %}</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>{{ item.total_price|floatformat:2 }} UAH</span>
        </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
            "{{ code }}" ({{ discount }}% off)
          {% endblocktrans %}
          <span class="neg">- {{ cart.get_discount|floatformat:2 }} UAH</span>
        </li>
      {% endif %}
    </ul>
    <p>{% trans "Total" %}: {{ cart.get_total_price_after_discount|floatformat:2 }} UAH</p>
  </div>
<div class="col-lg-6 col-md-6">
  <form method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans "Place order" %}"></p>
    {% csrf_token %}
  </form>
            </div>
    </div>
    </div>
{% endblock %}